{% block css %}
<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>

{% endblock %}
<div class="intro-y col-span-12 flex items-center justify-center sm:justify-end ">
    <div class="col-span-6 sm:col-span-3 lg:col-span-2  xl:col-span-1 mt-1 mr-2 mb-1 dropdown-toggle shadow-lg zoom-in  cursor-pointer bg-gray-400 dark:bg-dark-5 pl-2 pr-2" id="filter-menu" >
      <i class="fa fa-times"></i>
    </div>
</div>
