<!DOCTYPE html>
<html lang="en" class="light">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Midone admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Users Layout - Midone - Tailwind HTML Admin Template</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/admin/dist/css/app.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic"/>


    <style >
        .listing .detail_record .remove .hidden{
            display: none !important;
        }

/*select2-classes*/
.select2-selection__rendered {
    font-size: 16px;
    font-family: inherit;
    line-height: 33px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
    border: solid 1px #e2e8f0 !important;
}

.select2-container--default .select2-selection--single {
    /*border: solid 1px #e2e8f0;*/
}

.select2-selection__arrow {
    height: 35px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #625f60;
    color: white;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #625f60;
    color: white;
}

.select2-container-custom {
    border: solid 1px orange;
    width: 200px !important;
}


    </style>
    <!-- END: CSS Assets-->
    {% block stylesheets %}
    {% endblock %}
</head>

<body class="app">

{% block body %}{% endblock %}


<!-- BEGIN: JS Assets-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="/admin/dist/js/select2-search-placeholder.js"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
<script src="/admin/dist/js/app.js"></script>
<script src="/admin/dist/js/common.js"></script>
{% block javascript %}
{% endblock %}
<!-- END: JS Assets-->
</body>
</html>